@import url(https://fonts.googleapis.com/css?family=Montserrat|Arapey:400italic);

onclick {
  float: center;
}

button {
  border: 3px solid #fff;
  background: transparent;
  display: block;
  font-style: normal;
  margin: 0 auto;
  overflow: hidden;
  padding: .2em;
  position: relative;
  text-decoration: none;
  transition: .5s ease;
  -webkit-transition: 1s ease;
  width: 25.5em;
}

button {
  background: #fffff;
  display: block;
  font-size: .875rem;
  padding: .4em .4em .4em;
  text-align: center;
}

button:hover {
  background: #b89555;
  transition: 1s ease;
  -webkit-transition: 1s ease;
}

.topLine {
  color: #424242;
  font-family: 'Arapey', 'serif';
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .1em;
  margin: 0;
  padding: 0;
}

.bottomLine {
  color: #b89555;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: .3em;
  margin: 0;
  padding: 0;
}

.ogButton {
  background: #fff;
  display: block;
  font-size: .875rem;
  padding: .8em 2em 1em;
  text-align: center;
}

body {
background-color: #f9e1de;
padding-left: 60px;
}

p {
 font-family: 'Montserrat', 'sans-serif';
 font-size: 24px;
 text-align: center;
}

{
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
    .column {
        width: 100%;
    }
}
        .my-col-count-style {
          column-count: 2;
          column-gap: 15px;
        }

        .my-col-count-style .panel {
          display: inline-block;
          width: 100%;
        }
.float-left {
  font-size: 24px;
  font-family: 'Montserrat', 'sans-serif';
}
.form-control {
  font-size: 20px;
  font-family: 'Montserrat', 'sans-serif';
}
